
<input type="text" id="messageInput" placeholder="Enter your message">
<button onclick="sendMessage()">Send</button>
<div id="messages"></div>


<script src="./utils.js"></script>


<script>

    const socket = new WebSocket('ws://localhost:3000');

    socket.onopen = function(event) {
        console.log('Connection established');
    };

    socket.onmessage = function(event) {
        const messagesDiv = document.getElementById('messages');
        messagesDiv.innerHTML += '<p>' + blobToString(event.data) + '</p>';
    };

    socket.onclose = function(event) {
        console.log('Connection closed');

        setTimeout(() => {location.reload();}, 5000);
        
    };

    function sendMessage() {
        const messageInput = document.getElementById('messageInput');
        const message = messageInput.value;
        socket.send(message);
        messageInput.value = '';
    }

</script>