<div id="messages"></div>


<script>

    const socket = new WebSocket('ws://localhost:{{port}}');

    socket.onopen = function(event) {
        console.log('Connection established');
    };

    socket.onmessage = function(event) {
        const messagesDiv = document.getElementById('messages');
        messagesDiv.innerHTML += '<p>' + event.data + '</p>';
    };

    socket.onclose = function(event) {
        console.log('Connection closed');
    };

</script>